{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": true,
    "printWidth": 120,
    "endOfLine": "lf",
    "cssDeclarationSorterKeepOverrides": false,
    "attributeGroups": ["^class$", "^(id|name)$", "$DEFAULT", "^aria-"],
    "plugins": ["prettier-plugin-css-order", "prettier-plugin-organize-attributes"]
}
