@import "tailwindcss";

.masonry {
    @apply overflow-clip;

    position: relative;
    width: 100%;
    height: 100%;
}

.midBlurBg {
    @apply z-5 w-full h-full absolute backdrop-blur-xs backdrop-brightness-100;

    -webkit-mask-image: linear-gradient(to top, transparent, black 50%, transparent);
    mask-image: linear-gradient(to top, transparent, black 50%, transparent);
}
