.boardItemBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boardItemDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--muted-foreground);
    line-height: 22px;
}

.boardTitle {
    color: var(--muted-foreground);
    font-size: 14px;
    line-height: 22px;
}

.boardItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boardItemLeft {
    display: inline-block;
    color: var(--foreground);
    font-weight: bold;
    font-size: 30px;
    line-height: 16px;
}
