.infinite-scroll-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    overscroll-behavior: none;
}

.infinite-scroll-wrapper::before,
.infinite-scroll-wrapper::after {
    position: absolute;
    z-index: 1;
    background: linear-gradient(var(--dir, to bottom), black, transparent);
    width: 100%;
    height: 25%;
    pointer-events: none;
    content: "";
}

.infinite-scroll-wrapper::before {
    top: 0;
}

.infinite-scroll-wrapper::after {
    --dir: to top;
    bottom: 0;
}

.infinite-scroll-container {
    display: flex;
    flex-direction: column;
    transform-origin: center center;
    cursor: grab;
    padding-inline: 1rem;
    overscroll-behavior: contain;
}

.infinite-scroll-item {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid var(--accent-color);
    border-radius: 15px;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.25rem;
    user-select: none;
    text-align: center;
}
