@import "tailwindcss";

@tailwind utilities;

@custom-variant dark (&:where([theme-mode=dark], [theme-mode=dark] *));

* {
    --td-brand-color: orange;
    --td-brand-color-1: var(--brand-color-1) !important;
    --td-brand-color-2: var(--brand-color-2) !important;
    --td-brand-color-3: var(--brand-color-3) !important;
    --td-brand-color-4: var(--brand-color-4) !important;
    --td-brand-color-5: var(--brand-color-5) !important;
    --td-brand-color-6: var(--brand-color-6) !important;
    --td-brand-color-7: var(--brand-color-7) !important;
    --td-brand-color-8: var(--brand-color-8) !important;
    --td-brand-color-9: var(--brand-color-9) !important;
    --td-brand-color-10: var(--brand-color-10) !important;
}

:root[theme-mode="dark"] {
    --brand-color-1: #6c4b00;
    --brand-color-2: #8f6400;
    --brand-color-3: #c48c1a;
    --brand-color-4: #eaa035;
    --brand-color-5: #f3ba53;
    --brand-color-6: #ffd189;
    --brand-color-7: #ffdea3;
    --brand-color-8: #ffdda5;
    --brand-color-9: #ffe5b7;
    --brand-color-10: #ffe2b0;

    --td-brand-color-hover: var(--brand-color-6);
    --td-brand-color-focus: var(--brand-color-2);
    --td-brand-color-active: var(--brand-color-8);
    --td-brand-color-disabled: var(--brand-color-3);
    --td-brand-color-light: var(--brand-color-1);
    --td-brand-color-light-hover: var(--brand-color-2);
}

:root {
    --brand-color-1: #fff4db;
    --brand-color-2: #fff0cd;
    --brand-color-3: #ffe6b4;
    --brand-color-4: #ffd595;
    --brand-color-5: #ffd280;
    --brand-color-6: #ffc059;
    --brand-color-7: #ffbe46;
    --brand-color-8: #ffb42f;
    --brand-color-9: #ffab1a;
    --brand-color-10: #ffa300;

    --td-brand-color-hover: var(--brand-color-6);
    --td-brand-color-focus: var(--brand-color-2);
    --td-brand-color-active: var(--brand-color-8);
    --td-brand-color-disabled: var(--brand-color-3);
    --td-brand-color-light: var(--brand-color-1);
    --td-brand-color-light-hover: var(--brand-color-2);
}

#root {
    padding: 0;
}

h1 {
    @apply text-6xl dark:text-white;
}

h2 {
    @apply text-3xl lg:text-5xl dark:text-white;
}

h3 {
    @apply text-2xl lg:text-4xl dark:text-white;
}

h4 {
    @apply text-xl lg:text-3xl dark:text-white;
}

h5 {
    @apply text-lg lg:text-2xl dark:text-white;
}

span,
p {
    @apply dark:text-white;
}

@layer utilities {
    .translate-101 {
        transform: translateX(101%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@layer utilities {
    .animate-marquee {
        animation: marquee 15s linear infinite;
    }
}